@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand:wght@600&display=swap');

html,
#root,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif !important;
}

.other-font {
  font-family: 'Quicksand', sans-serif !important;
}

.title {
  text-align: center;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overflow {
  overflow-y: scroll;
}

.align-true {
  justify-content: flex-end;
  margin-left: 35%;
}

.align-false {
  margin-right: 35%;
}
